# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

bag_of_holding_creds.json
creds.json

#Api
/ui/bag-of-holding/node_modules
/ui/bag-of-holding/.pnp
/ui/bag-of-holding/.pnp.js
/ui/bag-of-holding/package-lock.json
